.img {

  margin: 25px;
  padding: 2px;
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  transition: all 1.1s ease;
}
.img:hover {
  transform: scale(1.08);
}

.row {
  display: flex;
  flex-direction: row;
}

.head {
  color: white;
}
